@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --Header: 22px;
  --Primary-Font: "Roboto Condensed", sans-serif;
}

.Header h1 {
  font-size: var(--Header);
}

.Folders--Folder {
  background-color: rgb(54, 54, 54);
  width: 80%;
  text-align: center;
  padding: 2em 0em;
  margin: 1em auto;
  border-style: none;
  border-radius: 10px;
  border: 2px solid white;
}