:root {
    --LoadingPage_GroomName: 40px;
    --LoadingPage_BrideName: 40px;
    --LoadingPage_WelcomeMessage: 25px;
    --HomePage_Upload_Container--Note: 16px;
    --Folder_Name--Input: 15px;
    --Upload_Buttons_Text: 14px;
}

.HomePage {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    padding: .7em;
}

/* Loading Page */

.LoadingPage--Inactive {
    display: none;
}

.LoadingPage {
    background-image: linear-gradient(to bottom, #02024c, #010345, #02033e, #040336, #05022f, #05022f, #05022f, #05022f, #040336, #02033e, #010345, #02024c);
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
    font-family: "Courgette", cursive;
    font-style: normal;
    align-items: center;
    animation-name: loadingpage;
    animation-duration: 8.5s;
}

.LoadingPage_WelcomeMessage {
    position: absolute;
    width: 100%;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
}

.LoadingPage_WelcomeMessage p {
    font-size: var(--LoadingPage_WelcomeMessage);
    margin: .2em;
}

.LoadingPage_Names_Container {
    position: absolute;
    width: 100%;
    height: 30dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoadingPage--BrideName {
    font-size: var(--LoadingPage_GroomName);
    font-weight: 400;
    animation-name: bride;
    animation-duration: 3s;
    animation-delay: 1s;
    position: absolute;
    right: -100dvw;
    top: 12%;
    z-index: 9;
}

.LoadingPage--GroomName {
    font-size: var(--LoadingPage_BrideName);
    font-weight: 400;
    animation-name: groom;
    animation-duration: 3s;
    animation-delay: 1s;
    position: absolute;
    left: -100dvw;
    bottom: 12%;
    z-index: 9;
}

.LoadingPage--Heart {
    position: relative;
    z-index: 8;
    color: red;
    animation-name: heart;
    animation-duration: 1.5s;
    animation-delay: 1.75s;
    scale: 0;
}

@keyframes loadingpage {
    0%, 95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes welcome {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

@keyframes groom {
    0% {
        left: 100dvw;
    }
    30%, 70% {
        left: 50dvw;
    }
    100% {
        left: -100dvw;
    }
}

@keyframes bride {
    0% {
        right: 100dvw;
    }
    30%, 70% {
        right: 50dvw;
    }
    100% {
        right: -100dvw;
    }
}

@keyframes heart {
    0% {
        scale: 0;
        rotate: 0deg;
    }
    30%, 70% {
        scale: 1;
        rotate: 0deg;
    }
    40%, 55% {
        rotate: -25deg;
    }
    47.5%, 62.5% {
        rotate: 25deg;
    }
    100% {
        scale: 0;
        rotate: 0deg;
    }
}

/* Background Image */

.HomePage_Background {
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage_Background--Tint {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}

.HomePage_Background img {
    position: absolute;
    z-index: -2;
    width: 97%;
    height: 98%;
    border-style: none;
    border-radius: 10px;
}

/* Navbar */

.HomePage_Navbar {
    position: sticky;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1em;
}

.HomePage_Navbar--Tint {
    background-color: black;
    opacity: .5;
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* View Gallery Button */

.HomePage_Navbar_ViewGallery_Button {
    background-color: grey;
    position: relative;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    overflow-x: hidden;
    z-index: 7;
    padding: .6em 1.8em;
    border-style: none;
    border-radius: 8px;
    box-shadow: 4px 4px black;
    animation-name: Gallery-Button;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Gallery-Button {
    0%, 10%, 20%, 100% {
        bottom: 0px;
    }
    5%, 15% {
        bottom: 3px;
    }
}

.HomePage_Navbar_ViewGallery_Button--Background {
    background-image: linear-gradient(to right, #150118, #250c2d, #380f43, #4c105b, #610f73, #610f73, #610f73, #610f73, #4c105b, #380f43, #250c2d, #150118);
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 100%;
    animation-name: Gallery-Button-Background;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes Gallery-Button-Background {
    0%, 50%, 100% {
        left: 0px;
    }
    25%, 75% {
        left: -360px;
    }
}

.HomePage_Navbar_ViewGallery_Button--Icon {
    position: relative;
    z-index: 3;
    margin-right: .5em;
}

.HomePage_Navbar_ViewGallery_Button--Text {
    position: relative;
    z-index: 3;
}

.HomePage_MainContainer {
    height: calc(100% - 80px);
    width: 100%;
    overflow-y: scroll;
}

/* Greeting Card */

.HomePage_Greetings_Container {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    /* padding: 0em .5em; */
    padding-bottom: 6em;
}

.HomePage_Greetings {
    position: relative;
    padding: 2em 1em;
}

.HomePage_Greetings--Tint {
    background-color: black;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .7;
    border-style: none;
    border-radius: 20px;
}

.HomePage_Greetings--Note {
    position: relative;
    z-index: 3;
    line-height: 1.8;
}

/* Image Uploads */

.HomePage_Upload_Container {
    position: relative;
    z-index: 3;
    padding: 1em;
}

.HomePage_Upload_Container--Tint {
    background-color: black;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-style: none;
    border-radius: 20px;
}

.HomePage_Upload_Container--Note {
    font-size: var(--HomePage_Upload_Container--Note);
    line-height: 1.3;
    position: relative;
    z-index: 3;
    margin-bottom: 1.5em;
}

.HomePage_Upload_Folder_Name {
    position: relative;
    z-index: 3;
}

.HomePage_Upload_Folder_Name--Label {
    display: block;
}

.HomePage_Upload_Folder_Name--Input {
    font-size: var(--Folder_Name--Input);
    width: 200px;
    padding: .5em .5em .2em .4em;
    margin-top: .3em;
    border-style: none;
    border: 0px;
    border-radius: 3px;
}

.HomePage_Upload_Select_And_Upload_Container {
    margin-top: 1em;
}

.HomePage_Upload_Select_And_Upload--Label {
    position: relative;
    z-index: 3;
    margin-bottom: .5em;
}

.HomePage_Upload_Select_And_Upload {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 1em;
}

.HomePage_Upload_Image_Selector {
    
}

.HomePage_Upload_Image_Selector--Label {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .6em 1.6em;
    border-style: none;
    border: 2px solid white;
    border-radius: 8px;
}

.HomePage_Upload_Submit_Button {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .6em 1.6em;
    border-style: none;
    border: 2px solid white;
    border-radius: 8px;
}

.HomePage_Upload_Submit_Button span,
.HomePage_Upload_Image_Selector--Label span {
    font-size: var(--Upload_Buttons_Text);
}

.HomePage_Upload_Image_Select_Empty,
.HomePage_Upload_Folder_Name_Empty {
    color: red;
    position: relative;
    z-index: 3;
    margin-top: .4em;
}

.HomePage_Upload_Image_Select_Empty--Inactive,
.HomePage_Upload_Folder_Name_Empty--Inactive {
    display: none;
}