:root {
    --LoadingPage_GroomName: 40px;
    --LoadingPage_BrideName: 40px;
    --LoadingPage_WelcomeMessage: 25px;
    --Navbar_Names: 40px;
    --Greeting_Message: 19px;
    --HomePage_Upload_Container--Note: 19px;
    --File_Upload_Label: 17px;
    --Folder_Name--Input: 15px;
    --Upload_Buttons_Text: 16px;
    --Upload_Empty_Message: 17px;
}

.HomePage {
    position: relative;
    height: calc(100dvh - 80px);
    width: 100dvw;
    padding: .7em;
    margin-top: 80px;
}

/* Loading Page */

.LoadingPage--Inactive {
    display: none;
}

.LoadingPage {
    background-image: linear-gradient(to bottom, #02024c, #010345, #02033e, #040336, #05022f, #05022f, #05022f, #05022f, #040336, #02033e, #010345, #02024c);
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100dvh;
    width: 100dvw;
    font-family: "Courgette", cursive;
    font-style: normal;
    color: white;
    align-items: center;
    animation-name: loadingpage;
    animation-duration: 8.5s;
}

.LoadingPage_WelcomeMessage {
    position: absolute;
    width: 100%;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 4.5s;
    animation-timing-function: ease-in-out;
}

.LoadingPage_WelcomeMessage p {
    font-size: var(--LoadingPage_WelcomeMessage);
    margin: .2em;
}

.LoadingPage_Names_Container {
    position: absolute;
    width: 100%;
    height: 30dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoadingPage--BrideName {
    font-size: var(--LoadingPage_GroomName);
    font-weight: 400;
    animation-name: bride;
    animation-duration: 3s;
    animation-delay: 1s;
    position: absolute;
    right: -100dvw;
    top: 12%;
    z-index: 9;
}

.LoadingPage--GroomName {
    font-size: var(--LoadingPage_BrideName);
    font-weight: 400;
    animation-name: groom;
    animation-duration: 3s;
    animation-delay: 1s;
    position: absolute;
    left: -100dvw;
    bottom: 12%;
    z-index: 9;
}

.LoadingPage--Heart {
    position: relative;
    z-index: 8;
    color: red;
    animation-name: heart;
    animation-duration: 1.5s;
    animation-delay: 1.75s;
    scale: 0;
}

@keyframes loadingpage {
    0%, 95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes welcome {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

@keyframes groom {
    0% {
        left: 100dvw;
    }
    30%, 70% {
        left: 50dvw;
    }
    100% {
        left: -100dvw;
    }
}

@keyframes bride {
    0% {
        right: 100dvw;
    }
    30%, 70% {
        right: 50dvw;
    }
    100% {
        right: -100dvw;
    }
}

@keyframes heart {
    0% {
        scale: 0;
        rotate: 0deg;
    }
    30%, 70% {
        scale: 1;
        rotate: 0deg;
    }
    40%, 55% {
        rotate: -25deg;
    }
    47.5%, 62.5% {
        rotate: 25deg;
    }
    100% {
        scale: 0;
        rotate: 0deg;
    }
}

/* Background Image */

.HomePage_Background {
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage_Background--Tint {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}

.HomePage_Background img {
    position: absolute;
    z-index: -2;
    width: 97%;
    height: 98%;
    border-style: none;
    border-radius: 10px;
}

.HomePage_MainContainer {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 3em;
}

/* Greeting Card */

.HomePage_Greetings_Container {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 2em;
}

.HomePage_Greetings {
    position: relative;
    padding: 2em 1em;
}

.HomePage_Greetings--Tint {
    background-color: gray;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 5px black;
}

.HomePage_Greetings--Note {
    font-size: var(--Greeting_Message);
    font-weight: 600;
    color: black;
    position: relative;
    z-index: 3;
    line-height: 1.8;
}

/* Image Uploads */

.HomePage_Upload_Container--Inactive {
    display: none;
}

.HomePage_Upload_Container {
    position: relative;
    z-index: 3;
    padding: 1em;
    margin-top: 3em;
    
}

.HomePage_Upload_Container--Tint {
    background-color: gray;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 5px black;
}

.HomePage_Upload_Container--Note {
    font-size: var(--HomePage_Upload_Container--Note);
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    z-index: 3;
    margin-bottom: 1.5em;
}

.HomePage_Upload_Folder_Name {
    position: relative;
    z-index: 3;
}

.HomePage_Upload_Folder_Name--Label {
    font-size: var(--File_Upload_Label);
    font-weight: 600;
    display: block;
}

.HomePage_Upload_Folder_Name--Input {
    background-color: black;
    opacity: .8;
    color: white;
    font-size: var(--Folder_Name--Input);
    width: 200px;
    padding: .7em .5em .4em .6em;
    margin-top: .3em;
    border-style: none;
    border: 0px;
    border-radius: 3px;
}

.HomePage_Upload_Select_And_Upload_Container {
    margin-top: 1em;
}

.HomePage_Upload_Select_And_Upload--Label {
    font-size: var(--File_Upload_Label);
    font-weight: 600;
    position: relative;
    z-index: 3;
    margin-bottom: .5em;
}

.HomePage_Upload_Select_And_Upload {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 1em;
}

.HomePage_Upload_Image_Selector,
.HomePage_Upload_Submit_Button {
    color: white;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .6em 1.6em;
    border-style: none;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px black;
}

.HomePage_Upload_Image_Selector--Label {
    display: flex;
    align-items: center;
    gap: .5em;
}

.Upload_Button--Tint {
    background-color: black;
    opacity: .4;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 6px;
}

.Upload_Button--Icons {
    position: relative;
    z-index: 3;
}

.HomePage_Upload_Submit_Button span,
.HomePage_Upload_Image_Selector--Label span {
    position: relative;
    z-index: 3;
    font-size: var(--Upload_Buttons_Text);
    font-weight: 600;
}

.HomePage_Upload_Image_Select_Empty,
.HomePage_Upload_Folder_Name_Empty {
    position: relative;
    z-index: 3;
    padding: .3em .8em;
    border-style: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: .6em;
    box-shadow: 3px 3px black;
}

.HomePage_Upload_Image_Select_Empty--Inactive,
.HomePage_Upload_Folder_Name_Empty--Inactive {
    display: none;
}

.HomePage_Upload_Image_Select_Empty--Tint,
.HomePage_Upload_Folder_Name_Empty--Tint {
    background-color: black;
    opacity: .6;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 3px;
}

.HomePage_Upload_Image_Select_Empty--Note,
.HomePage_Upload_Folder_Name_Empty--Note {
    position: relative;
    z-index: 3;
    font-size: var(--Upload_Empty_Message);
    font-weight: 500;
    color: red;
}

/* Gallery Container */

.HomePage_Gallery_Container--Inactive {
    display: none;
}

.HomePage_Gallery_Container {
    position: relative;
    z-index: 3;
    padding: 1em;
    margin-top: 3em;
}

.HomePage_Gallery_Container--Tint {
    background-color: gray;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 5px black;
}

.HomePage_Gallery--Note {
    font-size: var(--HomePage_Upload_Container--Note);
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    z-index: 3;
}

.HomePage_Gallery_Button_Container {
    display: flex;
}

.HomePage_Gallery_Button {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5em;
    z-index: 3;
    padding: .6em 1.6em;
    border-style: none;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 1.5em;
    box-shadow: 3px 3px black;
}

.HomePage_Gallery_Button--Tint {
    background-color: black;
    opacity: .4;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 6px;
}

.HomePage_Gallery_Button--Icon {
    color: white;
    position: relative;
    z-index: 3;
}

.HomePage_Gallery_Button--Text {
    color: white;
    font-size: var(--Upload_Buttons_Text);
    font-weight: 700;
    position: relative;
    z-index: 3;
}
